<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeTuber Viewer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>
<body class="bg-pattern">
    <header>
        <a href="{% url 'index_page' %}" class='logo-text'>DeTuber</a>
        <a href="{{github_repo_url}}"><img src="{% static 'images/github-mark-white.svg' %}" style="height: 45px;"></a>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>

    {% block js %}{% endblock js %}
</body>
</html>