@import url(fonts.css);
@import url(vars.css);
@import url(header.css);
@import url(background-pattern.css);
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0%;
    font-family: "Funnel Sans", sans-serif;
    color: var(--dark-text-color);
}

.center-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 20px;
    box-sizing: border-box;
}

.video-query-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-top: 50px;
    padding: 20px;
    font-size: large;

    background-color: #cadaf3;
    border-radius: 10px;

    /* color: rgb(42, 51, 81); */
    color: var(--dark-text-color);

    width: fit-content;

    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 1em,
                rgba(0, 0, 0, 0.226) 0px 0px 5px;
}

.video-query-box h2 {
    font-weight: 400;
    margin: 0;
}

.video-query-box input {
    font-size: large;
    padding: 10px;

    border-radius: 10px;

    color: var(--dark-text-color);
    border-color: var(--dark-text-color);
}

video {
    width: 900px;
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

.button, .text-window a.button {
    padding: 5px 10px;
    border: solid #cdd5ff 1px;
    background-color: #7187a9;
    border-radius: 5px;

    text-decoration: none;
    color: var(--light-text-color);
    
    font-weight: 500;
}

.result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
}

.fade-opacity {
    transition: opacity 0.25s ease;
}

#result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#throbber {
    height: 200px;
    width: 200px;
}

.text-window {
    padding: 20px;
    font-size: large;

    background-color: #d2ddf3;

    border-radius: 10px;

    width: fit-content;

    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 1em,
                rgba(0, 0, 0, 0.226) 0px 0px 5px;
}

.text-window a {
    color: rgb(25, 121, 194);
}

.loading-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.progressbar {
    height: 1.2em;
    width: 100%;

    background-color: rgb(218, 218, 218);

    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--header-color);

    overflow: hidden;
}

.progressbar-fill {
    height: 100%;

    background-color: rgb(114 162 209);
    border-radius: inherit;

    transition: width 0.6s ease-out;
}

/* Video Page */

.video-details {
    display: grid;
    justify-content: space-between;
    gap: 200px;

    grid-template-columns: auto auto;
}

.description {
    white-space: pre-line;
}

details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

summary {
    width: fit-content;
}

