{% extends 'parts/base.html' %}
{% load static %}


{% block content %}
    <div class="center-box">
        <div class="video-query-box">
            <h2>Enter the URL here:</h2>
            <form>
                <input type="text" name="video_url" id="video_url" placeholder="URL or video ID">
                <input type="button" value="Go" id="go_button">
            </form>
            <p>Note: it might take some time for the video to load.</p>
        </div>

        <div class="result-box">
            <div id="result-info" class="fade-opacity text-window" style="opacity: 0;"></div>
            <div id="loading-info" class="fade-opacity loading-info" style="opacity: 0; display: none;">
                <h3>Loading...</h3>
                <div class="progressbar">
                    <div id="progressbar-fill" class="progressbar-fill" style="width: 0%;"></div>
                </div>
                <img src="{% static 'images/throbber.svg' %}" alt="Loading..." id="throbber">
            </div>
        </div>

    </div>
{% endblock content %}

{% block js %}
    <script>
        const requestVideoUrl = "{% url 'queue_video' %}";
        const pollVideoUrl = "{% url 'get_video_info' %}";
        const showVideoUrl = "{% url 'show_video' %}";
    </script>
    <script src="{% static 'js/video-query.js' %}"></script>
{% endblock js %}

        

